.card {
  display: flex;
  align-items: center;
  max-width: 870px;
  padding: 65px 110px 65px 60px;
  outline: 1px solid var(--gray-light);
  background-size: 0;
}

.card::before {
  content: "";
  flex-shrink: 0;
  align-self: flex-start;
  width: calc(190 / (870 - 60 - 110) * 100%);
  margin-right: 50px;
  padding-top: calc(165 / (870 - 60 - 110) * 100%);
  background-image: inherit;
  background-repeat: no-repeat;
  background-size: contain;
}

.card__title {
  margin: 0;
  margin-bottom: 10px;
  font-size: 24px;
  line-height: 29px;
}

@media (max-width: 1440px) {
  .card {
    align-items: flex-start;
    max-width: 100%;
  }
}

@media (max-width: 1280px) {
  .card {
    padding: 65px 140px 65px 75px;
  }

  .card::before {
    width: calc(190 / (924 - 75 - 140) * 100%);
    padding-top: calc(165 / (924 - 75 - 140) * 100%);
  }
}

@media (max-width: 962px) {
  .card {
    align-items: center;
    padding: 35px 44px 34px 40px;
  }

  .card::before {
    align-self: center;
    width: calc(114 / (668 - 44 - 40) * 100%);
    margin-right: 16px;
    padding-top: calc(99 / (668 - 44 - 40) * 100%);
  }
}

@media (max-width: 576px) {
  .card {
    flex-wrap: wrap;
    padding: 0;
    outline: none;
  }

  .card::before {
    width: 64px;
    padding-top: 49px;
    margin-bottom: 11px;
  }

  .card__title {
    margin-bottom: 4px;
    font-weight: var(--medium);
    font-size: 18px;
    line-height: 22px;
  }
}
