html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

img,
svg {
  max-width: 100%;
  height: auto;
}

body {
  min-width: var(--body-min-width);
  font-family: "Montserrat", sans-serif;
  font-size: var(--default-fs);
  line-height: var(--default-lh);
  color: var(--dark);
  background-color: var(--white);
}

.container {
  max-width: var(--container-max-width);
  margin-right: auto;
  margin-left: auto;
  padding-right: var(--container-padding);
  padding-left: var(--container-padding);
}

.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.button-reset {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.flex {
  display: flex;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

.about,
.how,
.questions {
  padding-top: 50px;
  padding-bottom: 50px;
}

.section-title {
  margin: 0;
  margin-bottom: 20px;
  font-size: 48px;
  font-weight: var(--regular);
  line-height: 59px;
  color: var(--dark);
}

.text {
  margin: 0;
  margin-bottom: 50px;
}

.text:last-child {
  margin-bottom: 0;
}

.color-graylight {
  color: var(--gray-light);
}

@media (max-width: 1280px) {
  .about,
  .how,
  .questions {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .section-title {
    margin-bottom: 9px;
  }

  .text {
    margin-bottom: 65px;
  }
}

@media (max-width: 800px) {
  .text {
    margin-bottom: 61px;
  }
}

@media (max-width: 576px) {
  .about,
  .how,
  .questions {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .section-title {
    margin: 0;
    margin-bottom: 20px;
    font-size: 24px;
    line-height: 29px;
  }

  .text {
    margin-bottom: 14px;
  }
}
