.header {
  min-height: 100px;
  background-color: var(--whit);
  box-shadow: 0 5px 40px rgba(0, 0, 0, 0.1);
}

.header__container {
  position: relative;
  align-items: center;
  justify-content: space-between;
  padding: 14px 0;
}

.header__burger {
  display: none;
}

.header__logo {
  display: flex;
  align-items: center;
  width: 224px;
  min-height: 72px;
  margin-right: 40px;
}

.header__logo,
.header__search-btn {
  flex-shrink: 0;
}

.header__menu {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: -10px;
  font-size: 18px;
  font-weight: 600;
  line-height: 22px;
}

.header__menu-item {
  margin-right: 80px;
  margin-bottom: 10px;
}

.header__menu-link {
  position: relative;
  padding: 3px;
  outline: none;
}

.header__menu-link::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: var(--orange);
  transition: transform var(--short);
  transform: scaleX(0);
}

.header__menu-link:focus:not(:hover):not(:active) {
  outline: 2px solid var(--orange);
}

.header__menu-link:active {
  color: var(--orange-dark);
}

.header__menu-link:active::after {
  color: var(--orange-dark);
  background-color: var(--orange-dark);
  transform: scaleX(1);
}

.header__search-btn,
.header__close-btn {
  flex-shrink: 0;
  width: 24px;
  min-height: 24px;
  line-height: 1;
  color: var(--dark);
  outline: none;
  cursor: pointer;
  transition: color var(--short);
}

.header__search-btn--submit {
  margin-right: 25px;
}

.header__search-btn:focus:not(:hover):not(:active),
.header__close-btn:focus:not(:hover):not(:active) {
  outline: 2px solid var(--orange);
  outline-offset: 3px;
}

.header__search-btn:active,
.header__close-btn:active {
  color: var(--orange-dark);
}

.header__search-form {
  position: absolute;
  z-index: 103;
  top: 20px;
  right: 0;
  display: none;
  align-items: center;
  width: 539px;
  padding: 15px 13px 18px 30px;
  border-radius: 16px;
  background-color: var(--white);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.12);
  transform-origin: right;
}

.header__search-form.is-opened {
  display: flex;
  animation-name: search-open;
  animation-duration: 0.3s;
}

.header__search-form.is-closed {
  animation-name: search-close;
  animation-duration: 0.3s;
}

.header__search-input {
  flex-grow: 1;
  width: 222px;
  margin-right: 14px;
  padding: 0;
  padding-bottom: 5px;
  border: none;
  border-bottom: 1px solid var(--gray-border);
  font-size: 18px;
  font-weight: var(--medium);
  outline: none;
  transition: boder-color var(--short);
}

.header__search-input::placeholder {
  transition: opacity var(--short);
}

.header__search-input:focus::placeholder {
  opacity: 0;
}

@media (max-width: 1280px) {
  .header {
    display: flex;
    align-items: center;
  }

  .container {
    width: 100%;
  }

  .header__burger {
    position: relative;
    z-index: 102;
    display: inline-block;
    width: 30px;
    height: 23px;
  }

  .header__logo {
    width: 150px;
    min-height: 48px;
    margin-right: 0;
  }

  .header__menu-wrap {
    position: fixed;
    z-index: 101;
    top: 0;
    left: 0;
    display: none;
    width: 420px;
    height: 100vh;
    padding: 158px 80px 15px 43px;
    background-color: #ffffff;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    transform: translateX(-100%);
  }

  .header__menu {
    display: block;
    overflow-y: auto;
    max-height: 100%;
    margin: 0;
    padding: 5px 0 5px 5px;
    font-size: 24px;
    font-weight: var(--bold);
    line-height: 29px;
  }

  .header__menu-wrap.is-active {
    display: block;
    transform: translateX(0);
    animation-name: menu-open;
    animation-duration: 0.3s;
  }

  .header__menu-wrap.is-closed {
    animation-name: menu-close;
    animation-duration: 0.3s;
  }

  .header__menu-item {
    margin-bottom: 60px;
  }

  .header__search-form {
    top: 6px;
    width: 400px;
  }
}

@media (max-width: 800px) {
  .header {
    min-height: 69px;
  }

  .header__container {
    position: static;
    padding-top: 5px;
    padding-bottom: 5px;
  }

  .header__menu-wrap {
    padding-top: 145px;
  }

  .header__search-form {
    top: 0;
    right: 0;
    width: 100%;
    min-width: 320px;
    min-height: 69px;
    padding-right: var(--container-padding);
    padding-left: var(--container-padding);
    border-radius: 0;
  }
}

@media (max-width: 576px) {
  .header__menu-wrap {
    width: 100%;
    padding: 78px 15px 20px;
  }

  .header__menu {
    font-size: 16px;
    line-height: 20px;
  }

  .header__menu-item {
    margin-bottom: 32px;
  }

  .header__logo {
    width: 110px;
    min-height: 35px;
  }

  .header__search-input {
    font-size: 16px;
  }
}

@media (any-hover: hover) {
  .header__menu-link:hover:not(:active)::after {
    transform: scaleX(1);
  }

  .header__search-btn:hover:not(:active),
  .header__close-btn:hover:not(:active) {
    color: var(--orange);
  }

  .header__search-input:hover:not(:active) {
    border-color: var(--orange);
  }
}
